nav {
	background-color: #6535ca;
}

nav a {
	color: rgba(255, 255, 255, 0.7);
}

.nav-link.active {
	color: #fff;
}

nav a:hover {
	opacity: 0.5;
}

.navbar-brand {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.navbar-brand > img {
	margin-right: 5%;
}

a#languageDropdownMenuLink, .language-dropdown-block > ul > a {
	color: #fff;
}

.language-dropdown-block > ul, .language-dropdown-block > a{
	background-color: #6535ca;
}

.language-dropdown-block > a:focus {
	box-shadow: none;
}

div.language-dropdown-block > ul > li a:hover,  div.language-dropdown-block > ul > li a:focus {
	background-color: rgba(255, 255, 255, .3);
}
