footer {
	background-color: #6535ca;
	color: #ffffff;
}

img.social-link-image {
	height: 16px;
	width: 16px;
}

a.social-link-url {
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color: #ffffff;
	width: 25%;
}

.footer-social-part {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
