<div class="accordion" id="accordionPanelsBlock">
    <section class="resume-details-section ml-3">
        <article>
            <p>
                <strong>{{ currentResume?.detail?.person?.firstName }} {{ currentResume?.detail?.person?.familyName }}</strong>
            </p>
            <p>{{ currentResume?.detail?.title }}</p>
            <p>{{ currentResume?.detail?.person?.address?.street }}, {{ currentResume?.detail?.person?.address?.city }}, {{ currentResume?.detail?.person?.address?.postalCode }}, {{ currentResume?.detail?.person?.address?.country | uppercase }}</p>
            <p>{{ currentResume?.detail?.person?.contact?.phoneNumber }} &nbsp; {{ currentResume?.detail?.person?.contact?.email }}</p>
        </article>
    </section>
    <br>
    <div class="resume-second-layout-block">
        <section class="resume-left-section">
            <article>
                <h5>Links</h5>
                <p><a id="{{ socialNetWork.socialNetworkLinkId }}" *ngFor="let socialNetWork of currentResume?.detail?.socialNetworks" [href]="socialNetWork.socialNetworkLinkUrl"><img src="assets/images/{{ socialNetWork.socialNetworkImageName }}" class="img-fluid social-link-image" alt="{{ socialNetWork.socialNetworkImageName }}"/>&nbsp;{{ socialNetWork.socialNetworkLinkName }}</a></p>
            </article>
            <article>
                <h5>Skills</h5>
                <div *ngFor="let skill of currentResume?.skills">
                    <p>
                        <span>{{ skill.label }}</span>
                    </p>
                    <p>
                        <span *ngFor="let i of enumUtilsService.getEnumLength(skillLevelType) | numberToArray; let currentLevelNumber = index" [ngClass]="{'level-opacity': isLevelOpacityEnabled(skill.level, currentLevelNumber)}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="level-icon" viewBox="0 0 16 16">
                                <path d="m8 0 1.669.864 1.858.282.842 1.68 1.337 1.32L13.4 6l.306 1.854-1.337 1.32-.842 1.68-1.858.282L8 12l-1.669-.864-1.858-.282-.842-1.68-1.337-1.32L2.6 6l-.306-1.854 1.337-1.32.842-1.68L6.331.864 8 0z"/>
                                <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z"/>
                            </svg>
                        </span>
                    </p>
                </div>
            </article>
            <article>
                <h5>Language</h5>
                <div *ngFor="let language of currentResume?.languages">
                    <p>
                        <span>{{ language.label }}</span>
                    </p>
                    <p>
                        <span *ngFor="let i of enumUtilsService.getEnumLength(languageLevelType) | numberToArray; let currentLevelNumber = index" [ngClass]="{'level-opacity': isLevelOpacityEnabled(language.level, currentLevelNumber)}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="level-icon" viewBox="0 0 16 16">
                                <path d="m8 0 1.669.864 1.858.282.842 1.68 1.337 1.32L13.4 6l.306 1.854-1.337 1.32-.842 1.68-1.858.282L8 12l-1.669-.864-1.858-.282-.842-1.68-1.337-1.32L2.6 6l-.306-1.854 1.337-1.32.842-1.68L6.331.864 8 0z"/>
                                <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z"/>
                            </svg>
                        </span>
                    </p>
                </div>
            </article>
        </section>
        
        <section class="resume-rigth-section">
            <article>
                <h2>Profile</h2>
                <p>{{ currentResume?.profile }}</p>
            </article>
            <article>
                <h2>Employment history</h2>
                <div *ngFor="let employmentHistory of currentResume?.employmentHistories">
                    <strong>{{ employmentHistory.jobTitle }}, {{ employmentHistory.company }}, {{ employmentHistory.city }}</strong>
                    <p>{{ employmentHistory.startDate | date: 'dd/MM/yyyy' }} - {{ employmentHistory.endDate ? (employmentHistory.endDate | date: 'dd/MM/yyyy') : 'Today' }}</p>
                    <ul>
                        <li *ngFor="let description of employmentHistory.descriptions">
                            {{ description }}
                        </li>
                    </ul>
                </div>
            </article>
            <article>
                <h2>Education</h2>
                <div *ngFor="let education of currentResume?.educations">
                    <strong>{{ education.degree }}, {{ education.school }}, {{ education.city }}</strong>
                    <p>{{ education.startDate | date: 'dd/MM/yyyy' }} - {{ education.endDate ? (education.endDate | date: 'dd/MM/yyyy') : 'Today' }}</p>
                    <p>{{ education.description }}</p>
                </div>
            </article>
            <article>
                <h2>Hobbies</h2>
                <p *ngFor="let hobby of currentResume?.hobbies">{{ hobby }}</p>
            </article>
        </section>    
    </div>
</div>



