
<h1 class="mb-5 resume-page-title">This is my resumes</h1>

<ul class="nav nav-pills resume-list">
    <li *ngFor="let resume of resumes" class="nav-item">
      <a class="nav-link" [attr.aria-current]="defaultResumeId === resume.resumeId ? 'page' : null" 
      routerLink="{{ resume.resumeId + '/' + routeModeConstants.MODE_VIEW_CONSTANT }}" 
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >{{ resume.detail.title }}</a>
    </li>
</ul>
<br>
<router-outlet></router-outlet>