
<h1 class="mb-5 resume-page-title">{{translationsService.get(resumesTranslationsConstants.RESUMES_PAGE_TITLE_KEY)}}</h1>

<ul class="nav nav-pills resume-list">
    <li id="resumeElement{{i}}" *ngFor="let resume of resumes; let i = index;" class="nav-item">
      <a class="nav-link" [attr.aria-current]="defaultResumeId === resume.resumeId ? 'page' : null" 
      routerLink="{{ resume.resumeId + '/' + routeModeConstants.MODE_VIEW_CONSTANT }}" 
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >{{ translationsService.get(resume.detail.titleTranslationKey) }}</a>
    </li>
</ul>
<br>
<router-outlet></router-outlet>